@import url('https://fonts.googleapis.com/css?family=Dosis');
 #calculatorBody{
  width: 360px;
  background: 	#000000;
  margin: auto;
  margin-top: 100px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
  ;
}

#answer{
  width: 225px;
  display: inline-block;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background: lightgrey;
}

input {
  cursor: pointer;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  padding: 15px;
  font-size: 20px;
  margin: 10px; 
  font-family: 'Dosis', sans-serif;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px;
  color: white;
  background: #000;
}

input.operatorButton {
  background: #000;
  color: #FF6347;
}

#AC {
   background: #FF6347;
}

#equals{
  background: #FF6347;
}

h1{
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-shadow: 2px 2px 50px black;
  font-size: 100px;
}

body{
  background-image: linear-gradient(to bottom, #FF6347,black);
  background-repeat: no-repeat;
  background-size: 100% 200%;
}